@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;600&display=swap');
@import 'https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css';
@import "@/Styles/Variables.scss";
@import "@/Styles/Keyframes.scss";
* {
	box-sizing: border-box;
	::after,
	::before {
		box-sizing: border-box;
	}
}
html {
	height: 100%;
}
body {
	min-height: 100%;
	margin: 0;
	background-color: $bg;
	color: $primary;
	font-size: 18px;
	font-family: 'Baloo 2', sans-serif;
	#app {
		height: calc(100 * var(--vh));
	}
	ul {
		margin: 0;
		padding: 0;
	}
}
input, button, textarea {
	font-size: 16px;
	font-family: 'Baloo 2', sans-serif;
	color: $primary;
}
a {
	text-decoration: none;
	color: $primary;
}
.view {
	width: 100%;
	max-width: 1400px;
	height: calc(100% - 160px);
	margin: 0 auto;
	padding: 20px 20px 0 20px;
	text-align: center;
	animation: bottomElation 0.5s 1s both;
	overflow-y: scroll;

	scrollbar-color: $secondary transparent;
	scrollbar-width: thin;

	@media (min-width: 700px) {
		height: calc(100% - 180px);
	}
	&::-webkit-scrollbar {
		width: 5px;
	}
	&::-webkit-scrollbar-thumb {
		background: $secondary;
		transition: all 0.3s ease;
		border-bottom: 10px solid $bg;
		&:hover {
			background: $secondary;
		}
	}
	&::-webkit-scrollbar-track {
		background: transparent;
	}
	&:after {
		content: '';
		display: block;
		padding-bottom: 60px;
	}
	.naj {
		display: inline-block;
	}
}